body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
}

.theory-section {
    flex: 1;
    padding: 20px;
    background-color: bisque;
    overflow-y: auto;
}

.container.visualization-active .theory-section {
    flex: 0.25;
}

.pseudocode-section {
    flex: 0;
    padding: 0;
    background-color: #222;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    display: none;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.container.visualization-active .pseudocode-section {
    flex: 0.3;
    padding: 20px;
    display: block;
}

#pseudocode pre {
    padding: 5px 10px;
    margin: 0;
    transition: background-color 0.3s ease;
}

#pseudocode .highlight {
    background-color: yellow;
    color: black;
}

.visualization-section {
    flex: 0;
    overflow: hidden;
    padding: 20px;
    background: #1a1a1a;
    color: white;
    display: none;
    transition: all 0.5s ease;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}

.container.visualization-active .visualization-section {
    flex: 0.45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#array {
    display: flex;
    gap: 9px;
    margin: 1rem 0 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.5rem;
    cursor: pointer;
    color: red;
}

.value, .index {
    height: 1.5rem;
    width: 13rem;
    font-size: medium;
}

.update-option, .update {
    height: 1.9rem;
    font-size: medium;
}

#start-visualization, #homePage, #dashBoard {
    height: 2rem;
    width: auto;
    font-size: medium;
}

.cell {
    width: 50px;
    height: 50px;
    background: #333;
    border: 2px solid #00f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin: 0 0 1rem;
    transition: all 0.5s ease;
}

.highlight {
    background: orange !important;
    transition: background 0.5s;
}

.Previous {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
}

.btns {
    display: flex;
    font-size: medium;
}

.arrSearch, .homePage {
    font-size: medium;
}