html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    transition: all 0.5s ease;
    position: relative;
    box-sizing: border-box;
}

.theory-section, .visualization-section {
    min-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    flex: 1;
}

.theory-section {
    padding: 20px;
    background-color: bisque;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.container.visualization-active .theory-section {
    flex: 0.5;
}

.visualization-section {
    flex: 0;
    overflow-y: auto;
    padding: 20px;
    background: #1a1a1a;
    color: white;
    display: none;
    transition: all 0.5s ease;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.container.visualization-active .visualization-section {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#start-visualization {
    height: 2rem;
    width: auto;
}

#array {
    display: flex;
    gap: 9px;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.5rem;
    cursor: pointer;
    color: red;
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sort-method, .sort-option, .sortBtn {
    height: 2rem;
    width: 10rem;
}

.cell {
    width: 50px;
    height: 50px;
    background: #333;
    border: 2px solid #00f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin: 5px;
    transition: all 0.5s ease;
}

.cell.active {
    background-color: orange;
}
.cell.sorted {
    background-color: #4caf50;
}

.arrayCreate {
    margin: 1rem 0;
    text-align: center;
}
.arrCreate {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.arraySearch {
    margin: 1rem 0;
    text-align: center;
}
.arrSearch {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.headline {
    font-weight: bold;
}
