*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 40px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    display: flex;
    margin-left: 3%;
}
@font-face {
    font-family: 'Silkscreen';
    src: url("./Fonts/slkscr.ttf") format('truetype');
}
.logo1{
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color:#ffffff;
}
.logo2{
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color: #198754;
}

/* border */
.border{
    border: 0.1rem solid transparent;
}
.border2{
    border: 0.1rem solid #198754;
}
.border:hover{
    border: 0.1rem solid white;
    border-radius: 0.25rem;
}
/* part2 */
.login{
    margin-left: auto;
    margin-right: 4%;
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color: #198754;
    cursor: pointer;
}
.login:hover{
    color: blueviolet;   
}
body{
    background-color: #eeeeee;
}
/* main section */
.mainlogo{
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-top: 2.8rem;
}
#mlogo1{
    font-family: 'Silkscreen',sans-serif;
    font-size: 3rem;
    color:#0f1111;
}
#mlogo2{
    font-family: 'Silkscreen',sans-serif;
    font-size: 3rem;
    color: #198754;
}
#mlogo3{
    font-family: 'Silkscreen',sans-serif;
    color: black;
    font-size: 0.9rem;
    position: relative;
    bottom: -0.5rem;
}
.text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.dsa-search{
    display: flex;
    gap: 0;
    border: none;
    justify-content: center;
    align-items: center;
}