*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 40px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    display: flex;
    margin-left: 3%;
}
@font-face {
    font-family: 'Silkscreen';
    src: url("./Fonts/slkscr.ttf") format('truetype');
}
.logo1{
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color:#ffffff;
}
.logo2{
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color: #a7d41e;
}

/* border */
.border{
    border: 0.1rem solid transparent;
}
.border2{
    border: 0.1rem solid #198754;
}
.border:hover{
    border: 0.1rem solid white;
    border-radius: 0.25rem;
}
/* part2 */
.login{
    margin-left: auto;
    margin-right: 4%;
    font-family: 'Silkscreen',sans-serif;
    font-size: 1.25rem;
    color: #198754;
    cursor: pointer;
}
.login:hover{
    color: blueviolet;   
}
