body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;/* Make the container take up the full height of the viewport */
    transition: all 0.5s ease;
}

/* Theory Section */
.theory-section {
    flex: 1;/* Occupies full width initially */
    padding: 20px;
    background-color: aquamarine;
    transition: all 0.5s ease;
}

/* When visualization is active, shrink theory section */
.container.visualization-active .theory-section {
    flex: 0.5;/* Shrinks to 50% */
}

/* Visualization Section */
.visualization-section {
    flex: 0;
    overflow: hidden;/* Hidden initially */
    padding: 20px;
    background: #1a1a1a;
    color: white;
    display: none;/* Hidden by default */
    transition: all 0.5s ease;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);/* Shady effect at the bottom */
}

#start-visualization {
    height: 2rem;
    width: auto;
}

/* When visualization is active, show visualization section */
.container.visualization-active .visualization-section {
    flex: 0.5;/* Expands to 50% */
    display: flex;/* Make it visible */
    flex-direction: column;/* Ensure proper layout for child elements */
    align-items: center;/* Center content horizontally */
    justify-content: flex-start;/* Align content to the top */
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.5rem;
    cursor: pointer;
    color: red;
}

#value {
    height: 1.5rem;
    width: 8rem;
}
.Operations,.oprBtn {
    margin-top: 1rem;
    height: 1.5rem;
    font-size: 1rem;
}

/* vector Visualization */
#vectorBasic{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;/* Allow wrapping of array cells */
    justify-content: center;/* Center the array cells */
}

#vector-values {
    height: 1.5rem;
    width: 25rem;
}
.vectorCreate {
    margin: 1rem 0;
    text-align: center;
}
.vecCreate {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.cell {
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
    background: #333;
    border: 2px solid #00f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin: 5px;
    transition: all 0.5s ease;
}

.cell.active {
    background-color: orange;
}

.vector-info {
    margin-top: 10px;
    font-size: 16px;
}

.push_backInfo {
    display: none;
}

.vectorSort {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10%;
}
.vecSort {
    height: 1.8rem;
    font-size: 1rem;
}


